server:
  port: ${PORT:8080}

logging:
  level:
    org.springframework.security: error

spring:
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 50MB
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    driver-class-name: org.postgresql.Driver

  security:
    oauth2:
      client:
        registration:
          google:
            redirect-uri: https://xulgon.herokuapp.com/oauth2/callback?provider=google
            client-id:
            client-secret:
jwt:
  expiration-time-in-millis: 900 000
  signing-key:

app:
  resource-url: https://xulgon.sirv.com
  sirv-id:
  sirv-secret:
